# Python
.venv/
__pycache__/
*.pyc

# Environment variables
.env
app/.env
playwright-tests/.env

# Node
node_modules/
package-lock.json

# Playwright
playwright-report/
test-results/
blob-report/

# Mac
.DS_Store

